<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="LoginTest">

	<test name="LoginPageTest">
		<classes>
			<class name="com.softserve.edu.greencity.ui.tests.LoginPageTest" />
		</classes>
	</test> <!-- Test -->

	<test name="LoginDropdownTetst">
		<classes>
			<class name="com.softserve.edu.greencity.ui.tests.LoginDropdownTest">
				<methods>
					<exclude name="checkAllElements"/>
				</methods>
			</class>
		</classes>
	</test>

</suite> <!-- Suite -->
