<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tests" verbose="1"  parallel="classes" thread-count="1">
    <test name="Open cart testing">
        <classes>
            <class name="tests.OpenShoppingCartTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.RemoveFromCartTest"/>
            <class name="tests.ChangeQuantityTest"/>
            <class name="tests.AddCouponTest"/>
            <class name="tests.AddGiftCertificateTest"/>
            <class name="tests.AddAppleCinemaTest"/>
        </classes>
    </test>
</suite>